


body{
    background-color: #f0f0f0;
    font-family: Rubik;
}

#github {
    text-decoration: none;
    text-align: center;
}

.social-link {
    text-decoration: none;
    color: #000;
    padding-top: 0.7rem;
}

.title {
    color: #000;
    text-align: center;
    font-family: "Rubik Mono One";
    font-size: 2.5rem;
    width: 100 vh;
}

.author,
.last-updated {
    font-size: 1rem;
    color: #909090;
    text-align: center;
}

.author {
    padding-top: 1rem;
}

.head-container {
    display: grid;
    padding: 20px;
    padding-top: 4rem;
}

.content-container {
    display: grid;
    grid-template-columns: 25% 1fr;
}

.ec-container {
    justify-items: center;
}

html {
    scroll-behavior: smooth;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #c4bfc6;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.back-to-top span {
    color: #000000;
    font-size: 2rem;
    transition: 0.2s ease-out;
}

.back-to-top:hover {
    background-color: #8d8b8d;
}

.back-to-top:hover span {
    transform: translateY(-3px);
}

.table-of-contents ul {
    list-style-type: none;
    margin: 0;
    padding-top: 0.9rem;
}

.table-of-contents li {
    margin-bottom: 0.3rem; /* Optional: add space between items */
}

.table-of-contents a {
    text-decoration: none;
    color: black;
}

.table-of-contents a:hover {
    text-decoration: underline;
}

.toc-strong {
    margin-top: 1rem;
}

#ec_votes{
    width: 60vw;
    height: auto;
}

.img-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.img-container h2 {
    margin: 0; /* Remove default margin for headings */
    font-size: 24px; /* Set a font size for headings */
}

.img-container img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
}

@media screen and (max-width: 900px) {
    .content-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .ec-container {
        order: 1;
    }

    .table-of-contents {
        order: 2;
        text-align: center;
        font-size: 1.2rem;
    }

    #ec_title {
        text-align: center;
    }

    .title {
        font-size: 1rem;
    }
}